$font-primary:          'Rubik', sans-serif;
$font-secondary: '';
$font-tertiary: '';

$fs-base:                              1rem;
$fs-small:                      0.916667rem;
$fs-medium:                     1.166667rem;
$fs-large:                      1.333333rem;