.btn {
    background: transparent;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 16px;
    transition: all .2s ease-in-out;
    cursor: pointer;

    svg {
        fill: $font_color;
        width: 25px;
        height: 25px;
    }

    &:hover {
        border-radius: 10px;
    }
}

.add {
    padding: 10px 10px 7px 8px;
    background-color: $btn_add;

    &:hover {
        background-color: lighten($btn_add, 10);
    }
}

.remove {
    background-color: $btn_remove;
    padding: 15px 15px 12px 15px;
    margin-right: 4px;

    svg {
        height: 15px;
        width: 15px;
    }

    &:hover {
        background-color: lighten($btn_remove, 10);
    }
}

.enter {
    color: $font_color;
    background-color: $btn_enter;

    &:hover {
        background-color: lighten($btn_enter, 10);
    }
}

.buy {
    color: #fff;
    background-color: $btn_buy;
    font-weight: bolder;

    &:hover {
        background-color: lighten($btn_buy, 20);
    }
}

.goPay {
    color: #fff;
    background-color: $btn_pay;
    font-weight: bolder;

    &:hover {
        background-color: lighten($btn_pay, 20);
    }
}