// Main
$bg_color: #3d3d4e;
$font_color: #fff;

// Misc
$red: rgb(231, 53, 53);
$green: rgb(55, 138, 38);
$main_color: #535363;
$blackout: rgba(0,0,0, .5);

// Header
$header_color: rgba(0,0,0, .4);

    // Nav links
    $tag: rgb(68, 191, 240);
    $desktop: rgb(148, 68, 240);
    $gamepad: rgb(240, 165, 68);
    $mobile: rgb(240, 68, 91);
    $plus: rgb(97, 240, 68);

    // Login
    $login_color: $main_color;

    // Cart
    $cart_color: $main_color;
    $badge_color: $red;
    $inCart: $green;

// Content
$content_color: $main_color;

    // Item
    $item_color: rgba(0,0,0, .8);
    $percent_color: $red;

// Footer
$footer_color: #292931;

// Buttons
$btn_add: $green;
$btn_pay: $green;
$btn_remove: $red;
$btn_enter: $green;
$btn_buy: rgb(0,0,0);

// Checkout 
$checkout_color: $main_color;

// orderCreated
$order_color: $main_color;