// Main
$bg_color: #3d3d4e;
$font_color: #fff;

// Header
$header_color: rgba(0,0,0, .4);

$content_color: #535363;

    // Cart
    $cart_color: #535363;

// Content

    // Item
    $item_color: rgba(0,0,0, .8);
    $percent_color: rgb(231, 53, 53);

// Footer
$footer_color: #292931;

// Misc

// Buttons
$btn_add: rgb(55, 138, 38);
$btn_buy: rgb(0,0,0);